/* line 1, demo.scss */
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

/* line 4, demo.scss */
body {
  padding: 0;
  background-color: #eeeeee;
}

/* line 8, demo.scss */
#main {
  margin: 0 auto;
  max-width: 100% !important;
  position: relative;
}
/* line 12, demo.scss */
#main .top-effect {
  position: absolute;
  top: 0;
  left: 0;
}
/* line 17, demo.scss */
#main .grid-icon {
  position: absolute;
}
/* line 19, demo.scss */
#main .grid-icon .voice-icon-disabled {
  opacity: 0.3;
}
/* line 23, demo.scss */
#main .top-banner {
  background-color: #ec3a38;
}

/* line 27, demo.scss */
.splash-slide {
  position: relative;
  margin: auto;
  text-align: center;
}

/* line 32, demo.scss */
.slick-slider {
  width: 100%;
  height: 100%;
  margin-bottom: 0;
  /*Categories list*/
  /*---end---*/
}
/* line 37, demo.scss */
.slick-slider .instruction-slide img {
  width: 70%;
  margin-right: 10%;
}
/* line 44, demo.scss */
.slick-slider .categories-list .group-1, .slick-slider .categories-list .group-2 {
  width: 100%;
}
/* line 46, demo.scss */
.slick-slider .categories-list .group-1 .item, .slick-slider .categories-list .group-2 .item {
  position: relative;
  float: left;
}
/* line 49, demo.scss */
.slick-slider .categories-list .group-1 .item img, .slick-slider .categories-list .group-2 .item img {
  width: 100%;
}
/* line 52, demo.scss */
.slick-slider .categories-list .group-1 .item .age, .slick-slider .categories-list .group-2 .item .age {
  opacity: 0.9;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
}
/* line 59, demo.scss */
.slick-slider .categories-list .group-1 .item .age .quantity, .slick-slider .categories-list .group-2 .item .age .quantity {
  float: right;
}
/* line 63, demo.scss */
.slick-slider .categories-list .group-1 .item .color1, .slick-slider .categories-list .group-2 .item .color1 {
  background-color: #e74a2f;
}
/* line 66, demo.scss */
.slick-slider .categories-list .group-1 .item .color2, .slick-slider .categories-list .group-2 .item .color2 {
  background-color: #5ab557;
}
/* line 69, demo.scss */
.slick-slider .categories-list .group-1 .item .color3, .slick-slider .categories-list .group-2 .item .color3 {
  background-color: #5496ca;
}
/* line 72, demo.scss */
.slick-slider .categories-list .group-1 .item .color4, .slick-slider .categories-list .group-2 .item .color4 {
  background-color: #fbbc0b;
}
/* line 79, demo.scss */
.slick-slider .back-icon {
  position: absolute;
  top: 0;
  left: 0;
}
/* line 84, demo.scss */
.slick-slider .title {
  /*margin-left: 2.5em;*/
}
/* line 86, demo.scss */
.slick-slider .title .text-wrapper {
  float: left;
}
/* line 89, demo.scss */
.slick-slider .title .get-start {
  float: right;
  margin-right: 2.5em;
  margin-top: 4em;
}
/* line 94, demo.scss */
.slick-slider .title .btn-red {
  background-color: #e44330;
  border-color: #e44330;
}
/* line 100, demo.scss */
.slick-slider .title .btn-submit {
  background-color: #e74a2f;
  border-color: #e74a2f;
}
/* line 104, demo.scss */
.slick-slider .title .btn-add-magic {
  background-color: #49af48;
  border-color: #49af48;
}
/* line 108, demo.scss */
.slick-slider .title .btn-view-gallery {
  background-color: #438ecc;
  border-color: #438ecc;
}
/* line 112, demo.scss */
.slick-slider .title span.g-plus {
  float: left;
  width: 15%;
  border-right: 1px solid #d1442b;
}
/* line 116, demo.scss */
.slick-slider .title span.g-plus img {
  height: 1.8em;
}
/* line 120, demo.scss */
.slick-slider .title span.text {
  float: left;
  width: 85%;
  text-align: center;
  margin-top: 0.2em;
}
/* line 126, demo.scss */
.slick-slider .title span.text-center {
  text-align: center;
  margin-top: 0.2em;
}

/* line 134, demo.scss */
.slick-slide img {
  margin: 0 auto;
}

/* line 138, demo.scss */
.slick-next {
  background: url("./../../public/images/next-icon.png") no-repeat;
  width: 27px;
  height: 27px;
  right: 5%;
}
/* line 143, demo.scss */
.slick-next:before {
  content: "" !important;
}
/* line 146, demo.scss */
.slick-next:hover {
  opacity: 0.5;
  background: url("./../../public/images/next-icon.png") no-repeat;
}

/* line 151, demo.scss */
.slick-prev {
  background: url("./../../public/images/prev-icon.png") no-repeat;
  width: 27px;
  height: 27px;
  left: 5%;
}
/* line 156, demo.scss */
.slick-prev:before {
  content: "" !important;
}
/* line 159, demo.scss */
.slick-prev:hover {
  opacity: 0.5;
  background: url("./../../public/images/prev-icon.png") no-repeat;
}

/* line 165, demo.scss */
.slick-dots button {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  box-shadow: 0 0 13px rgba(0, 0, 0, 0.3) inset;
  cursor: pointer;
  display: block;
  height: 10px !important;
  text-indent: -9999px;
  width: 10px !important;
}
/* line 176, demo.scss */
.slick-dots .slick-active button {
  box-shadow: 0 0 13px #1bb5f8 inset !important;
}

/*Facebook*/
/* line 182, demo.scss */
.fb-share-button {
  float: left;
}

/* line 185, demo.scss */
.ZMConnectIcon_Text {
  background: none !important;
}

/*Landscape*/
@media all and (orientation: landscape) {
  /* line 190, demo.scss */
  #main {
    /*Gallery*/
    /*end*/
    /*Home page*/
    /*---end---*/
  }
  /* line 193, demo.scss */
  #main .gallery .thumbnail-list {
    padding: 2%;
  }
  /* line 195, demo.scss */
  #main .gallery .thumbnail-list .rows {
    width: 100%;
    margin-bottom: 2%;
  }
  /* line 198, demo.scss */
  #main .gallery .thumbnail-list .rows .item {
    width: 48.7%;
    float: left;
  }
  /* line 201, demo.scss */
  #main .gallery .thumbnail-list .rows .item img {
    width: 100%;
    height: 35vh;
  }
  /* line 210, demo.scss */
  #main .top-banner {
    background-color: #ec3a38;
    height: 20vh;
  }
  /* line 214, demo.scss */
  #main .grid-icon {
    top: 1em;
    right: 1em;
  }
  /* line 217, demo.scss */
  #main .grid-icon img {
    width: 60%;
  }
  /* line 222, demo.scss */
  #main .top-effect img {
    width: 45%;
    float: left;
    height: 42vh;
  }
  /* line 231, demo.scss */
  #main .home .top-effect img {
    width: 45%;
    float: left;
    height: 42vh;
  }
  /* line 237, demo.scss */
  #main .home .action-group {
    margin-top: 14% !important;
  }
  /* line 240, demo.scss */
  #main .home .bottom-effect {
    margin-top: 0%;
  }
  /* line 242, demo.scss */
  #main .home .bottom-effect img {
    width: 36% !important;
    height: 43vh;
  }
  /* line 249, demo.scss */
  #main .bottom-effect {
    display: block;
    text-align: right;
  }
  /* line 252, demo.scss */
  #main .bottom-effect img {
    width: 34% !important;
    margin-right: 0 !important;
  }
  /* line 257, demo.scss */
  #main .slick-slider {
    width: 100%;
    height: 100%;
    /*Categories list*/
    /*---end---*/
  }
  /* line 260, demo.scss */
  #main .slick-slider .action-group {
    margin-top: 5.9em;
  }
  /* line 264, demo.scss */
  #main .slick-slider .back-icon img {
    width: 50%;
    margin-left: 1.2em;
    margin-top: 0.9em;
  }
  /* line 270, demo.scss */
  #main .slick-slider .instruction-slide {
    margin-top: 7.3em;
  }
  /* line 272, demo.scss */
  #main .slick-slider .instruction-slide img {
    width: 64%;
    margin-right: 10%;
  }
  /* line 277, demo.scss */
  #main .slick-slider .instruction-text {
    display: block;
    padding: 1em;
    background-color: #d5d6d7;
  }
  /* line 281, demo.scss */
  #main .slick-slider .instruction-text .title {
    font-weight: bold;
    font-size: 14pt;
  }
  /* line 286, demo.scss */
  #main .slick-slider .doodles-slider {
    margin: 12% 0;
    background-color: white;
    padding: 4.5%;
  }
  /* line 290, demo.scss */
  #main .slick-slider .doodles-slider img {
    width: 100%;
    height: 65%;
  }
  /* line 294, demo.scss */
  #main .slick-slider .doodles-slider .slick-prev {
    background: url("./../../public/images/prev-slider-icon.png") no-repeat;
    background-size: 96% 100%;
    width: 32px;
    height: 28px;
    left: 3%;
  }
  /* line 301, demo.scss */
  #main .slick-slider .doodles-slider .slick-next {
    background: url("./../../public/images/next-slider-icon.png") no-repeat;
    background-size: 96% 100%;
    width: 32px;
    height: 28px;
    right: 3%;
  }
  /* line 309, demo.scss */
  #main .slick-slider .btn-red {
    font-size: 13pt;
    padding: 2% 2%;
    margin: 3% 25%;
  }
  /* line 314, demo.scss */
  #main .slick-slider .btn-gallery {
    font-size: 13pt;
    padding: 3% 3%;
    margin: 2% 25%;
  }
  /* line 319, demo.scss */
  #main .slick-slider .btn-submit {
    font-size: 13pt;
    padding: 2.7% 2%;
    margin: 3% 25%;
  }
  /* line 324, demo.scss */
  #main .slick-slider .btn-add-magic {
    font-size: 13pt;
    padding: 2.7% 2%;
    margin: 2.9% 25%;
  }
  /* line 329, demo.scss */
  #main .slick-slider .btn-view-gallery {
    font-size: 13pt;
    padding: 2.7% 2%;
    margin: 2% 25%;
  }
  /* line 334, demo.scss */
  #main .slick-slider .bold {
    font-weight: bold;
  }
  /* line 338, demo.scss */
  #main .slick-slider .categories-list {
    margin: 5% 0;
  }
  /* line 340, demo.scss */
  #main .slick-slider .categories-list .group-1, #main .slick-slider .categories-list .group-2 {
    padding: 0.2em 13%;
  }
  /* line 342, demo.scss */
  #main .slick-slider .categories-list .group-1 .item, #main .slick-slider .categories-list .group-2 .item {
    width: 43.5%;
    margin: 0.8em !important;
  }
  /* line 345, demo.scss */
  #main .slick-slider .categories-list .group-1 .item .age, #main .slick-slider .categories-list .group-2 .item .age {
    height: 1.9em;
    padding: 0.2em 0;
  }
  /* line 348, demo.scss */
  #main .slick-slider .categories-list .group-1 .item .age .ages, #main .slick-slider .categories-list .group-2 .item .age .ages {
    margin-left: 0.2em;
  }
  /* line 351, demo.scss */
  #main .slick-slider .categories-list .group-1 .item .age .quantity, #main .slick-slider .categories-list .group-2 .item .age .quantity {
    margin-right: 0.4em;
  }

  /*Add magic*/
  /* line 364, demo.scss */
  .add-magic .back-icon img {
    width: 52% !important;
    margin-left: 1.2em;
    margin-top: 1.1em !important;
  }
  /* line 370, demo.scss */
  .add-magic .canvas-wrapper {
    margin: 10% 0;
    background-color: white;
    padding: 4.5%;
  }
  /* line 374, demo.scss */
  .add-magic .canvas-wrapper img {
    width: 100%;
    height: 70vh;
  }
  /* line 379, demo.scss */
  .add-magic .record {
    text-align: center;
  }
  /* line 381, demo.scss */
  .add-magic .record img {
    width: 8%;
    margin-bottom: 0.5em;
  }
  /* line 386, demo.scss */
  .add-magic .grid-icon {
    right: 0 !important;
  }
  /* line 388, demo.scss */
  .add-magic .grid-icon .text-transform {
    display: inline;
    width: 35% !important;
  }
  /* line 392, demo.scss */
  .add-magic .grid-icon .voice-recog {
    display: inline;
    width: 21% !important;
    margin-left: 2em;
  }

  /*---end---*/
  /* line 400, demo.scss */
  img.splash-image {
    width: 56%;
    height: 82vh;
  }
}
/*Portrait*/
/*@media only screen and (max-width: 767px) and (orientation: portrait){*/
@media all and (orientation: portrait) {
  /* line 408, demo.scss */
  #main {
    /*Gallery*/
    /*---end---*/
    /*Home page*/
    /*---end---*/
  }
  /* line 411, demo.scss */
  #main .gallery .thumbnail-list {
    padding: 2%;
  }
  /* line 413, demo.scss */
  #main .gallery .thumbnail-list .rows {
    width: 100%;
    margin-bottom: 2%;
  }
  /* line 416, demo.scss */
  #main .gallery .thumbnail-list .rows .item {
    width: 48.7%;
    float: left;
  }
  /* line 419, demo.scss */
  #main .gallery .thumbnail-list .rows .item img {
    width: 100%;
    height: 14vh;
  }
  /* line 429, demo.scss */
  #main .top-banner {
    background-color: #ec3a38;
    height: 11.6vh;
  }
  /* line 433, demo.scss */
  #main .grid-icon {
    top: 1em;
    right: 1em;
  }
  /* line 436, demo.scss */
  #main .grid-icon img {
    width: 60%;
  }
  /* line 441, demo.scss */
  #main .top-effect img {
    width: 40%;
    float: left;
  }
  /* line 449, demo.scss */
  #main .home .top-effect img {
    width: 40%;
    float: left;
  }
  /* line 454, demo.scss */
  #main .home .action-group {
    margin-top: 23% !important;
  }
  /* line 457, demo.scss */
  #main .home .bottom-effect {
    margin-top: 6.7%;
  }
  /* line 459, demo.scss */
  #main .home .bottom-effect img {
    width: 47% !important;
  }
  /* line 465, demo.scss */
  #main .bottom-effect {
    display: block;
    text-align: right;
  }
  /* line 468, demo.scss */
  #main .bottom-effect img {
    width: 48% !important;
    margin-right: 0 !important;
  }
  /* line 473, demo.scss */
  #main .slick-slider {
    width: 100%;
    height: 100%;
    /*Slider on gallery page*/
    /*---end---*/
    /*Categories list*/
    /*---end---*/
  }
  /* line 476, demo.scss */
  #main .slick-slider .action-group {
    margin-top: 5.9em;
  }
  /* line 480, demo.scss */
  #main .slick-slider .back-icon img {
    width: 50%;
    margin-left: 1.2em;
    margin-top: 0.9em;
  }
  /* line 486, demo.scss */
  #main .slick-slider .instruction-slide {
    margin-top: 7.3em;
  }
  /* line 488, demo.scss */
  #main .slick-slider .instruction-slide img {
    width: 77%;
    margin-right: 8%;
  }
  /* line 493, demo.scss */
  #main .slick-slider .instruction-text {
    display: block;
    padding: 1em;
    background-color: #d5d6d7;
  }
  /* line 497, demo.scss */
  #main .slick-slider .instruction-text .title {
    font-weight: bold;
    font-size: 14pt;
  }
  /* line 503, demo.scss */
  #main .slick-slider .doodles-slider {
    margin: 28.3% 0;
    background-color: white;
    padding: 4.5%;
  }
  /* line 507, demo.scss */
  #main .slick-slider .doodles-slider img {
    width: 100%;
    height: 29%;
  }
  /* line 511, demo.scss */
  #main .slick-slider .doodles-slider .slick-prev {
    background: url("./../../public/images/prev-slider-icon.png") no-repeat;
    background-size: 96% 100%;
    width: 32px;
    height: 28px;
    left: 3%;
  }
  /* line 518, demo.scss */
  #main .slick-slider .doodles-slider .slick-next {
    background: url("./../../public/images/next-slider-icon.png") no-repeat;
    background-size: 96% 100%;
    width: 32px;
    height: 28px;
    right: 3%;
  }
  /* line 527, demo.scss */
  #main .slick-slider .btn-red {
    font-size: 13pt;
    padding: 2.2% 2%;
    margin: 6% 10%;
  }
  /* line 532, demo.scss */
  #main .slick-slider .btn-gallery {
    font-size: 13pt;
    padding: 3.2% 3%;
    margin: 5% 10%;
  }
  /* line 537, demo.scss */
  #main .slick-slider .btn-submit {
    font-size: 13pt;
    padding: 3.2% 2%;
    margin: 6% 10%;
  }
  /* line 542, demo.scss */
  #main .slick-slider .btn-add-magic {
    font-size: 13pt;
    padding: 3.2% 2%;
    margin: 5.9% 10%;
  }
  /* line 547, demo.scss */
  #main .slick-slider .btn-view-gallery {
    font-size: 13pt;
    padding: 3.2% 2%;
    margin: 5% 10%;
  }
  /* line 552, demo.scss */
  #main .slick-slider .bold {
    font-weight: bold;
  }
  /* line 556, demo.scss */
  #main .slick-slider .categories-list {
    margin-top: 20%;
  }
  /* line 558, demo.scss */
  #main .slick-slider .categories-list .group-1, #main .slick-slider .categories-list .group-2 {
    padding: 0.2em 0.5em;
  }
  /* line 560, demo.scss */
  #main .slick-slider .categories-list .group-1 .item, #main .slick-slider .categories-list .group-2 .item {
    width: 48.7%;
  }
  /* line 562, demo.scss */
  #main .slick-slider .categories-list .group-1 .item .age, #main .slick-slider .categories-list .group-2 .item .age {
    height: 1.9em;
    padding: 0.2em 0;
  }
  /* line 565, demo.scss */
  #main .slick-slider .categories-list .group-1 .item .age .ages, #main .slick-slider .categories-list .group-2 .item .age .ages {
    margin-left: 0.2em;
  }
  /* line 568, demo.scss */
  #main .slick-slider .categories-list .group-1 .item .age .quantity, #main .slick-slider .categories-list .group-2 .item .age .quantity {
    margin-right: 0.4em;
  }

  /*Add magic*/
  /* line 581, demo.scss */
  .add-magic .back-icon img {
    width: 52% !important;
    margin-left: 1.2em;
    margin-top: 1.1em !important;
  }
  /* line 587, demo.scss */
  .add-magic .canvas-wrapper {
    margin: 30% 0;
    background-color: white;
    padding: 4.5%;
  }
  /* line 591, demo.scss */
  .add-magic .canvas-wrapper img {
    width: 100%;
    height: 65%;
  }
  /* line 596, demo.scss */
  .add-magic .record {
    text-align: center;
  }
  /* line 598, demo.scss */
  .add-magic .record img {
    width: 16%;
  }
  /* line 602, demo.scss */
  .add-magic .grid-icon {
    right: 0 !important;
  }
  /* line 604, demo.scss */
  .add-magic .grid-icon .text-transform {
    display: inline;
    width: 35% !important;
  }
  /* line 608, demo.scss */
  .add-magic .grid-icon .voice-recog {
    display: inline;
    width: 21% !important;
    margin-left: 2em;
  }

  /*---end---*/
  /*Splash page*/
  /* line 617, demo.scss */
  img.splash-image {
    width: 60%;
    height: 60%;
  }

  /*---end---*/
}
/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* line 625, demo.scss */
  #main {
    /*Gallery*/
    /*end*/
    /*Home page*/
    /*---end---*/
  }
  /* line 628, demo.scss */
  #main .gallery .thumbnail-list {
    padding: 2%;
  }
  /* line 630, demo.scss */
  #main .gallery .thumbnail-list .rows {
    width: 100%;
    margin-bottom: 2%;
  }
  /* line 633, demo.scss */
  #main .gallery .thumbnail-list .rows .item {
    width: 49.5%;
    float: left;
  }
  /* line 636, demo.scss */
  #main .gallery .thumbnail-list .rows .item img {
    width: 100%;
    height: 35vh;
  }
  /* line 645, demo.scss */
  #main .top-banner {
    background-color: #ec3a38;
    height: 11vh;
  }
  /* line 649, demo.scss */
  #main .grid-icon {
    top: 1em;
    right: 1em;
  }
  /* line 652, demo.scss */
  #main .grid-icon img {
    width: 60%;
  }
  /* line 657, demo.scss */
  #main .top-effect img {
    width: 80%;
    float: left;
    height: 26vh;
  }
  /* line 666, demo.scss */
  #main .home .top-effect img {
    width: 80%;
    float: left;
    height: 26vh;
  }
  /* line 672, demo.scss */
  #main .home .action-group {
    margin-top: 10% !important;
  }
  /* line 675, demo.scss */
  #main .home .bottom-effect {
    margin-top: 0%;
  }
  /* line 677, demo.scss */
  #main .home .bottom-effect img {
    width: 34% !important;
    height: 40vh;
  }
  /* line 682, demo.scss */
  #main .home .btn-gallery {
    font-size: 13pt;
    padding: 2.8% 3%;
    margin: 2% 25%;
  }
  /* line 689, demo.scss */
  #main .bottom-effect {
    display: block;
    text-align: right;
  }
  /* line 692, demo.scss */
  #main .bottom-effect img {
    width: 34% !important;
    margin-right: 0 !important;
  }

  /*Add magic*/
  /* line 701, demo.scss */
  .add-magic .back-icon img {
    width: 52% !important;
    margin-left: 1.2em;
    margin-top: 1.1em !important;
  }
  /* line 707, demo.scss */
  .add-magic .canvas-wrapper {
    margin: 10% 0;
    background-color: white;
    padding: 4.5%;
  }
  /* line 711, demo.scss */
  .add-magic .canvas-wrapper img {
    width: 100%;
    height: 70vh;
  }
  /* line 716, demo.scss */
  .add-magic .record {
    text-align: center;
  }
  /* line 718, demo.scss */
  .add-magic .record img {
    width: 8%;
    margin-bottom: 0.5em;
  }
  /* line 723, demo.scss */
  .add-magic .grid-icon {
    right: 0 !important;
  }
  /* line 725, demo.scss */
  .add-magic .grid-icon .text-transform {
    display: inline;
    width: 35% !important;
  }
  /* line 729, demo.scss */
  .add-magic .grid-icon .voice-recog {
    display: inline;
    width: 21% !important;
    margin-left: 2em;
  }

  /*---end---*/
  /* line 737, demo.scss */
  img.splash-image {
    width: 56%;
    height: 82vh;
  }
}
/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* line 747, demo.scss */
  #main {
    /*Gallery*/
    /*---end---*/
    /*Home page*/
    /*---end---*/
  }
  /* line 750, demo.scss */
  #main .gallery .thumbnail-list {
    padding: 2%;
  }
  /* line 752, demo.scss */
  #main .gallery .thumbnail-list .rows {
    width: 100%;
    margin-bottom: 2%;
  }
  /* line 755, demo.scss */
  #main .gallery .thumbnail-list .rows .item {
    width: 49.5%;
    float: left;
  }
  /* line 758, demo.scss */
  #main .gallery .thumbnail-list .rows .item img {
    width: 100%;
    height: 14vh;
  }
  /* line 768, demo.scss */
  #main .top-banner {
    background-color: #ec3a38;
    height: 8vh;
  }
  /* line 772, demo.scss */
  #main .grid-icon {
    top: 1em;
    right: 1em;
  }
  /* line 775, demo.scss */
  #main .grid-icon img {
    width: 60%;
  }
  /* line 780, demo.scss */
  #main .top-effect img {
    width: 55%;
    float: left;
  }
  /* line 788, demo.scss */
  #main .home .top-effect img {
    width: 55%;
    float: left;
  }
  /* line 793, demo.scss */
  #main .home .action-group {
    margin-top: 15% !important;
  }
  /* line 796, demo.scss */
  #main .home .bottom-effect {
    margin-top: 11.2%;
  }
  /* line 798, demo.scss */
  #main .home .bottom-effect img {
    width: 42% !important;
  }
  /* line 804, demo.scss */
  #main .bottom-effect {
    display: block;
    text-align: right;
  }
  /* line 807, demo.scss */
  #main .bottom-effect img {
    width: 42% !important;
    margin-right: 0 !important;
  }
  /* line 812, demo.scss */
  #main .slick-slider {
    width: 100%;
    height: 100%;
    /*Slider on gallery page*/
    /*---end---*/
    /*Categories list*/
    /*---end---*/
  }
  /* line 815, demo.scss */
  #main .slick-slider .action-group {
    margin-top: 5.9em;
  }
  /* line 819, demo.scss */
  #main .slick-slider .back-icon img {
    width: 50%;
    margin-left: 1.2em;
    margin-top: 0.9em;
  }
  /* line 826, demo.scss */
  #main .slick-slider .doodles-slider {
    margin: 23% 0;
    background-color: white;
    padding: 4.5%;
  }
  /* line 832, demo.scss */
  #main .slick-slider .instruction-slide {
    margin-top: 22%;
  }
  /* line 835, demo.scss */
  #main .slick-slider .btn-red {
    font-size: 13pt;
    padding: 2.25% 2%;
    margin: 6% 10%;
  }
  /* line 840, demo.scss */
  #main .slick-slider .btn-gallery {
    font-size: 13pt;
    padding: 3.1% 3%;
    margin: 5% 10%;
  }
  /* line 845, demo.scss */
  #main .slick-slider .btn-submit {
    font-size: 13pt;
    padding: 3% 2%;
    margin: 6% 10%;
  }
  /* line 850, demo.scss */
  #main .slick-slider .btn-add-magic {
    font-size: 13pt;
    padding: 3% 2%;
    margin: 5.9% 10%;
  }
  /* line 855, demo.scss */
  #main .slick-slider .btn-view-gallery {
    font-size: 13pt;
    padding: 3% 2%;
    margin: 5% 10%;
  }
  /* line 860, demo.scss */
  #main .slick-slider .bold {
    font-weight: bold;
  }
  /* line 864, demo.scss */
  #main .slick-slider .categories-list {
    margin-top: 7.4%;
  }
  /* line 866, demo.scss */
  #main .slick-slider .categories-list .group-1, #main .slick-slider .categories-list .group-2 {
    padding: 0.2em 0.5em;
  }
  /* line 868, demo.scss */
  #main .slick-slider .categories-list .group-1 .item, #main .slick-slider .categories-list .group-2 .item {
    width: 49.5%;
  }
  /* line 870, demo.scss */
  #main .slick-slider .categories-list .group-1 .item .age, #main .slick-slider .categories-list .group-2 .item .age {
    height: 10%;
    padding: 2% 0;
  }
  /* line 873, demo.scss */
  #main .slick-slider .categories-list .group-1 .item .age .ages, #main .slick-slider .categories-list .group-2 .item .age .ages {
    margin-left: 0.4em;
    font-size: 16px;
  }
  /* line 877, demo.scss */
  #main .slick-slider .categories-list .group-1 .item .age .quantity, #main .slick-slider .categories-list .group-2 .item .age .quantity {
    margin-right: 0.4em;
  }

  /*Add magic*/
  /* line 890, demo.scss */
  .add-magic .back-icon img {
    width: 52% !important;
    margin-left: 1.2em;
    margin-top: 1.1em !important;
  }
  /* line 896, demo.scss */
  .add-magic .canvas-wrapper {
    margin: 30% 0;
    background-color: white;
    padding: 4.5%;
  }
  /* line 900, demo.scss */
  .add-magic .canvas-wrapper img {
    width: 100%;
    height: 65%;
  }
  /* line 905, demo.scss */
  .add-magic .record {
    text-align: center;
  }
  /* line 907, demo.scss */
  .add-magic .record img {
    width: 16%;
  }
  /* line 911, demo.scss */
  .add-magic .grid-icon {
    right: 0 !important;
  }
  /* line 913, demo.scss */
  .add-magic .grid-icon .text-transform {
    display: inline;
    width: 35% !important;
  }
  /* line 917, demo.scss */
  .add-magic .grid-icon .voice-recog {
    display: inline;
    width: 21% !important;
    margin-left: 2em;
  }

  /*---end---*/
  /*Splash page*/
  /* line 926, demo.scss */
  img.splash-image {
    width: 60%;
    height: 60%;
  }
}
